.container-detail .detail-title {
  font-family: "Galaxie", arial, sans-serif;
  font-size: 40px;
  line-height: 30px;
  color: #000; }
  @media (min-width: 960px) {
    .container-detail .detail-title {
      font-size: 40px;
      line-height: 42px; } }
  @media (min-width: 1025px) {
    .container-detail .detail-title {
      font-size: 48px;
      line-height: 58px; } }
.slider-menu .menu-header .menu-profile {
  font-family: "Galaxie", arial, sans-serif;
  font-size: 70px;
  line-height: 30px;
  color: #FFF; }
  @media (min-width: 960px) {
    .slider-menu .menu-header .menu-profile {
      font-size: 70px;
      line-height: 42px; } }
  @media (min-width: 1025px) {
    .slider-menu .menu-header .menu-profile {
      font-size: 48px;
      line-height: 58px; } }

.container-detail .detail-field {
  font-family: "Galaxie", arial, sans-serif;
  font-size: 18px;
  line-height: 24px; }
  @media (min-width: 960px) {
    .container-detail .detail-field {
      font-size: 22px;
      line-height: 30px; } }
  @media (min-width: 1025px) {
    .container-detail .detail-field {
      font-size: 26px;
      line-height: 34px; } }

.slider-menu ul li {
  font-family: "Galaxie", arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #FFF; }
  @media (min-width: 960px) {
    .slider-menu ul li {
      font-size: 30px;
      line-height: 30px; } }
  @media (min-width: 1025px) {
    .slider-menu ul li {
      font-size: 26px;
      line-height: 34px; } }

button, .button {
  font-family: "GT Pressura", arial, sans-serif;
  font-size: 13px;
  letter-spacing: .8px; }

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  color: #333 !important;
  height: 100%;
  font-family: "Galaxie", arial, sans-serif;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 1440px) {
    body {
      background-color: gray !important;
      border-left: solid 1px #BDBDBD !important;
      border-right: solid 1px #BDBDBD !important;
      margin: 0 auto !important;
      max-width: 1440px;
      width: 100%; } }

#map {
  height: 100%; }

a {
  color: #333; }
  a.button, a:hover {
    color: #000;
    text-decoration: none; }

.wrapper {
  background-color: #FFF;
  margin-top: 73px !important;
  width: 100%; }
  @media (min-width: 960px) {
    .wrapper {
      margin-top: 105px !important; } }
  @media (min-width: 1440px) {
    .wrapper {
      max-width: 1440px;
      margin-top: 75px !important;
      margin-left: auto !important;
      margin-right: auto !important;
      width: 100%; } }

@media (min-width: 1440px) {
  .subheader, .header, .footer-wrapper, .shopping-header-product, .shopping-header-scent {
    max-width: 1440px;
    margin: 0 auto !important;
    width: 100%; } }

@media (min-width: 1440px) {
  .subheader, .header, .shopping-header-product, .shopping-header-scent {
    left: calc(50% - 1440px/2) !important; } }

@media (min-width: 1440px) {
  .homepage-modules {
    width: calc(1440px * (14 / 16)) !important; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Galaxie", arial, sans-serif;
  font-weight: 400; }
  h1 span,
  h2 span,
  h3 span,
  h4 span,
  h5 span,
  h6 span {
    line-height: .8em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

button, .button {
  background: #FFF;
  border: 0;
  border-radius: 0;
  color: #000;
  cursor: pointer;
  font-family: "GT Pressura", arial, sans-serif;
  height: 55px;
  line-height: 42px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 250px;
  -webkit-appearance: none; }
  button span, .button span {
    font-size: 12px;
    letter-spacing: 1.5px;
    line-height: 42px; }
  button a, .button a {
    color: #FFF; }
  @media (min-width: 960px) {
    button:hover, .button:hover {
      background: #01579B; } }

input {
  border-radius: 0; }

.nav-item {
  color: #333;
  font-family: "Galaxie", arial, sans-serif;
  font-size: 13px;
  letter-spacing: .8px;
  line-height: 16px;
  padding: 16px; }
  .nav-item:hover {
    border-bottom: 1px solid #333;
    margin-bottom: 2px; }

.add-link {
  color: #333;
  font-family: "Galaxie", arial, sans-serif;
  font-size: 13px;
  letter-spacing: .8px;
  line-height: 16px; }
  .add-link:hover {
    color: #000; }

#support-header {
  background-color: #F9F7F0;
  height: 150px; }
  @media (max-width: 959px) {
    #support-header {
      margin: 70px 0 0; } }
  @media (min-width: 1440px) {
    #support-header {
      margin: 40px 0 0; } }

header {
  width: 100%;
  height: 120px;
  background-color: #FFF;
  text-align: center; }
  header .menu-img {
    width: 100px;
    height: auto;
    float: left;
    margin: 5px; }
  header .logo {
    width: 100px;
    height: auto;
    margin-left: -100px; }

.slider-menu {
  position: fixed;
  width: 80%;
  height: 100%;
  background-color: #000;
  z-index: 3;
  top: 0px;
  display: none; }
  .slider-menu .menu-header .menu-img-black {
    display: inline-block;
    width: 100px;
    height: auto;
    float: left;
    margin: 5px; }
  .slider-menu .menu-header .menu-profile {
    display: inline-block;
    margin-top: 30px; }
  .slider-menu ul {
    list-style-type: none;
    margin-top: 100px; }
    .slider-menu ul li {
      font-size: 50px;
      margin: 70px 10px; }

#mapDetail {
  height: 50%; }

.container-detail {
  background-color: #FFF; }
