.detail-field-container .detail-field .detail-title {
  font-family: "Galaxie", arial, sans-serif;
  font-size: 40px;
  line-height: 30px;
  color: #000; }
  @media (min-width: 960px) {
    .detail-field-container .detail-field .detail-title {
      font-size: 40px;
      line-height: 42px; } }
  @media (min-width: 1025px) {
    .detail-field-container .detail-field .detail-title {
      font-size: 48px;
      line-height: 58px; } }

.slider-menu .menu-header .menu-profile {
  font-family: "Galaxie", arial, sans-serif;
  font-size: 70px;
  line-height: 30px;
  color: #FFF; }
  @media (min-width: 960px) {
    .slider-menu .menu-header .menu-profile {
      font-size: 70px;
      line-height: 42px; } }
  @media (min-width: 1025px) {
    .slider-menu .menu-header .menu-profile {
      font-size: 48px;
      line-height: 58px; } }

.detail-field-container .detail-field .detail-field {
  font-family: "Galaxie", arial, sans-serif;
  font-size: 18px;
  line-height: 24px; }
  @media (min-width: 960px) {
    .detail-field-container .detail-field .detail-field {
      font-size: 22px;
      line-height: 30px; } }
  @media (min-width: 1025px) {
    .detail-field-container .detail-field .detail-field {
      font-size: 26px;
      line-height: 34px; } }

.slider-menu ul li {
  font-family: "Galaxie", arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #FFF; }
  @media (min-width: 960px) {
    .slider-menu ul li {
      font-size: 30px;
      line-height: 30px; } }
  @media (min-width: 1025px) {
    .slider-menu ul li {
      font-size: 26px;
      line-height: 34px; } }

button, .button {
  font-family: "GT Pressura", arial, sans-serif;
  font-size: 13px;
  letter-spacing: .8px; }

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

body {
  color: #333 !important;
  height: 100%;
  font-family: "Galaxie", arial, sans-serif;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 1440px) {
    body {
      background-color: gray !important;
      border-left: solid 1px #BDBDBD !important;
      border-right: solid 1px #BDBDBD !important;
      margin: 0 auto !important;
      max-width: 1440px;
      width: 100%; } }

#map {
  height: calc(100% - 120px); }

a {
  color: #333; }
  a.button, a:hover {
    color: #000;
    text-decoration: none; }

.wrapper {
  background-color: #FFF;
  margin-top: 73px !important;
  width: 100%; }
  @media (min-width: 960px) {
    .wrapper {
      margin-top: 105px !important; } }
  @media (min-width: 1440px) {
    .wrapper {
      max-width: 1440px;
      margin-top: 75px !important;
      margin-left: auto !important;
      margin-right: auto !important;
      width: 100%; } }

@media (min-width: 1440px) {
  .subheader, .header, .footer-wrapper, .shopping-header-product, .shopping-header-scent {
    max-width: 1440px;
    margin: 0 auto !important;
    width: 100%; } }

@media (min-width: 1440px) {
  .subheader, .header, .shopping-header-product, .shopping-header-scent {
    left: calc(50% - 1440px/2) !important; } }

@media (min-width: 1440px) {
  .homepage-modules {
    width: calc(1440px * (14 / 16)) !important; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Galaxie", arial, sans-serif;
  font-weight: 400; }
  h1 span,
  h2 span,
  h3 span,
  h4 span,
  h5 span,
  h6 span {
    line-height: .8em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

button, .button {
  background: #000;
  border: 0;
  border-radius: 0;
  color: #FFF;
  cursor: pointer;
  font-family: "GT Pressura", arial, sans-serif;
  width: 100%;
  line-height: 50px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none; }
  button span, .button span {
    font-size: 12px;
    letter-spacing: 1.5px;
    line-height: 42px; }
  button a, .button a {
    color: #FFF; }
  @media (min-width: 960px) {
    button:hover, .button:hover {
      background: #979797; } }

input {
  border-radius: 0; }

.nav-item {
  color: #333;
  font-family: "Galaxie", arial, sans-serif;
  font-size: 13px;
  letter-spacing: .8px;
  line-height: 16px;
  padding: 16px; }
  .nav-item:hover {
    border-bottom: 1px solid #333;
    margin-bottom: 2px; }

.add-link {
  color: #333;
  font-family: "Galaxie", arial, sans-serif;
  font-size: 13px;
  letter-spacing: .8px;
  line-height: 16px; }
  .add-link:hover {
    color: #000; }

.gm-style-iw {
  width: 350px !important;
  top: 15px !important;
  left: 0px !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 2px 2px 10px 10px; }

#iw-container {
  margin-bottom: 10px; }

#iw-container .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #000;
  color: white;
  margin: 0;
  border-radius: 2px 2px 0 0; }

#iw-container .iw-content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 1px;
  padding: 15px 5px 20px 15px;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden; }

.iw-content img {
  float: right;
  margin: 0 5px 5px 10px; }

.iw-subTitle {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0; }

.spinner-container {
  width: 100%;
  height: calc(100% - 120px);
  position: fixed;
  z-index: 9999;
  background-color: white; }
  .spinner-container .spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear; }
    .spinner-container .spinner .dot1, .spinner-container .spinner .dot2 {
      width: 60%;
      height: 60%;
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
      animation: sk-bounce 2.0s infinite ease-in-out; }
    .spinner-container .spinner .dot2 {
      top: auto;
      bottom: 0;
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s; }

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

header {
  width: 100%;
  height: 120px;
  background-color: #FFF;
  text-align: center; }
  header .menu-img {
    width: 100px;
    height: auto;
    float: left;
    margin: 5px; }
  header .logo {
    width: 100px;
    height: auto;
    margin-left: -100px; }

.header-login .logo {
  width: 100px;
  height: auto;
  margin: 0 !important; }

#login {
  text-align: center;
  width: 100%;
  height: calc(100% - 120px);
  /* Hoshi */ }
  #login .input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 650px;
    height: 100px;
    width: calc(100% - 2em);
    vertical-align: top; }
  #login .input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */ }
  #login .input__field:focus {
    outline: none; }
  #login .input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #login .input--hoshi {
    overflow: hidden; }
  #login .input__field--hoshi {
    margin-top: 1em;
    padding: 0.85em 0.15em;
    width: 100%;
    background: transparent;
    color: #000; }
  #login .input__label--hoshi {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0.25em;
    width: 100%;
    height: calc(100% - 1em);
    text-align: left;
    pointer-events: none; }
  #login .input__label-content--hoshi {
    position: absolute; }
  #login .input__label--hoshi::before,
  #login .input__label--hoshi::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    border-bottom: 1px solid #B9C1CA; }
  #login .input__label--hoshi::after {
    margin-top: 2px;
    border-bottom: 4px solid red;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s; }
  #login .input__label--hoshi-color-1::after {
    border-color: #000; }
  #login .input__label--hoshi-color-2::after {
    border-color: #000; }
  #login .input__label--hoshi-color-3::after {
    border-color: #000; }
  #login .input__field--hoshi:focus + .input__label--hoshi::after,
  #login .input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  #login .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
  #login .input--filled .input__label-content--hoshi {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards; }

@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }

@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }
  #login .button {
    bottom: 0; }

.slider-menu {
  position: fixed;
  width: 80%;
  height: 100%;
  background-color: #000;
  z-index: 3;
  top: 0px;
  display: none;
  z-index: 1001; }
  .slider-menu .menu-header .menu-img-black {
    display: inline-block;
    width: 100px;
    height: auto;
    float: left;
    margin: 5px; }
  .slider-menu .menu-header .menu-profile {
    display: inline-block;
    margin-top: 30px; }
  .slider-menu ul {
    list-style-type: none;
    margin-top: 100px; }
    .slider-menu ul li {
      font-size: 50px;
      margin: 70px 10px; }

#mapDetail {
  height: 50%;
  width: 100%; }

.detail-header {
  max-width: 100%;
  background-color: #E0E0E0;
  height: 40px;
  padding-top: 20px;
  padding-left: 40px;
  font-weight: bold; }

.margin-top {
  margin-top: 20px; }

.detail-field-container {
  background-color: #FFF; }
  .detail-field-container .fa-detail {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    width: 50px;
    height: 50px;
    font-size: 40px;
    line-height: 50px; }
  .detail-field-container .detail-field {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top; }
  .detail-field-container .rating {
    height: 100px; }

.review-form {
  padding-bottom: 30px; }
  .review-form #comment {
    margin-bottom: 30px; }

.detail-review {
  margin-top: 20px;
  margin-left: 20px; }

.error-message {
  display: none; }
