#mapDetail {
  height: 50%;
  width: 100%;
}
.detail-header {
  max-width: 100%;
  background-color: $titlegray;
  height: 40px;
  padding-top: 20px;
  padding-left: 40px;
  font-weight: bold;
}
.margin-top {
  margin-top: 20px;
}
.detail-field-container {
  background-color: $white;

  .fa-detail {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    width: 50px;
    height: 50px;
    font-size: 40px;
    line-height: 50px;
  }
  .detail-field{
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;

    .detail-title {
      @extend %h1;
    }
    .detail-field {
      @extend %h2;
    }
  }
  .rating {
    height: 100px;
  }

}
.review-form {
  padding-bottom: 30px;

  #comment {
    margin-bottom: 30px;
  }
}
.detail-review {
  margin-top: 20px;
  margin-left: 20px;
}
.error-message {
  display: none;
}
