.header-login {
  .logo {
    width: 100px;
    height: auto;
    margin: 0 !important;
  }
}
#login {
  text-align: center;
  width: 100%;
  height: calc(100% - 120px);

  .button {
    bottom: 0;
  }
}
.slider-menu {
  position: fixed;
  width: 80%;
  height: 100%;
  background-color: $black;
  z-index: 3;
  top: 0px;
  display: none;
  z-index: 1001;

  .menu-header {
    .menu-img-black {
      display: inline-block;
      width: 100px;
      height: auto;
      float: left;
      margin: 5px;
    }
    .menu-profile {
      display: inline-block;
      margin-top: 30px;
      @extend %h1white;
    }
  }

  ul {
    list-style-type: none;
    margin-top: 100px;

    li {
      @extend %h2white;
      font-size: 50px;
      margin: 70px 10px;
    }
  }
}
